*.iml
*.log
.kotlin
.trae
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build
jh.keystore
git-commands.md
/app/src/main/assets/qnnlibs
.gitignore
官方示例
快速理解用户偏好.md